doctype html
html
  head
    title www.pug.coffee.styl
    meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
    meta(content="ja", http-equiv="Content-Language")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    link(rel="stylesheet", type="text/css", href="css/base.css")
    link(rel="stylesheet", type="text/css", href="css/index.css")
    script(type="text/javascript" src="js/jquery.min.js")
    script(type="text/javascript" src="js/lodash.min.js")
    script(type="text/javascript" src="js/index.js")
  body
    .cover
      .board
        p.board--title www.pug.coffee.styl
        p.board--coming-soon
          | HTMLは<a href="https://github.com/pugjs/pug">Pug</a><br />JavaScriptは<a href="http://coffeescript.org">CoffeeScript</a><br />CSSは<a href="http://stylus-lang.com">Stylus</a>で書く。
